
    </div>
    <!-- End canvas inner -->
   
   
    
<div class="gu3 inner">
        <div class="footerbuttons">
            <div><a href="http://younggreen.greenparty.org.uk/get-involved/join/">
                <img src="assets/templates/london2012/images/footer-button-join-the-green-party.gif"
                     alt="Join a growing party" width="174" height="76"/></a></div>
            
            <div><a href="http://younggreen.greenparty.org.uk/get-involved/donate/">
                <img src="assets/templates/london2012/images/footer-button-donate-and-support-us.gif"
                     alt="Donate to the Green Party" width="170" height="76"/></a></div>

            <div><a href="http://younggreen.greenparty.org.uk/get-involved/sign-up/">
                <img src="assets/templates/london2012/images/footer-button-sign-up-and-take-action.gif"
                     alt="Sign up to our email list" width="153" height="76"/></a></div>
        
        
        <div><img src="assets/templates/london2012/images/footer-heading-connect.gif" alt="Connect:" width="88"
                      height="37"/><br/>
          <a href="http://facebook.com/younggreens" target="_blank">
          <img src="assets/templates/london2012/images/icon-facebook.png" alt="Facebook" width="33" height="34"/>
          </a>
          <a href="http://twitter.com/younggreenparty" target="_blank">
          <img src="assets/templates/london2012/images/icon-twitter.png" alt="Twitter" width="33" height="34"/>
          </a>
          <a href="http://www.youtube.com/greenpartyew" target="_blank">
          <img src="assets/templates/london2012/images/icon-youtube.png" alt="YouTube" width="33" height="34"/>
          </a>
            </div>
        </div>
    </div>
</div>
<!-- End canvas  -->
<div class="footer">
    <div class="inner">
        <ul class="topnav"><li class="first current"><a href="http://younggreen.greenparty.org.uk/" title="Home" >Home</a></li>
<li><a href="news/" title="News" >News</a></li>
<li><a href="about-us/" title="About Us" >About Us</a></li>
<li><a href="get-involved/" title="Get Involved" >Get Involved</a></li>
<li><a href="campaigns/" title="Campaigns" >Campaigns</a></li>
<li><a href="events/" title="Events" >Events</a></li>
<li><a href="contact-the-committee/" title="Contact the Committee" >Contact the Committee</a></li>
<li class="last"><a href="ygblog/" title="Blog" >Blog</a></li>
</ul>
    <p>&copy; The Green Party 2006 - 2013 <a href="http://greenparty.org.uk/credits.html">Code, Design and Photo Credits</a><br />
    Published and promoted by Martin Bleach for Young Greens of England and Wales, both at 56-64 Leonard Street, Development House, London, EC2A 4LT.
    </p>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
<script src="assets/templates/greenparty/js/plugins.js" type="text/javascript"></script>
<script src="assets/templates/greenparty/js/scripts.js" type="text/javascript"></script>
</body>
</html>
