<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Young Greens of England and Wales | Home</title>
    <base href="http://younggreen.greenparty.org.uk/"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="image_src" href="http://younggreen.greenparty.org.uk/assets/images/green_party_graphics/logo.gif" />
    <meta property="og:image" content="http://younggreen.greenparty.org.uk/assets/images/green_party_graphics/logo.gif"/>

    <link href="http://younggreen.greenparty.org.uk/deleted/news-rss.rss" rel="alternate" type="application/rss+xml" title="Young Greens of England and Wales News RSS Feed" />
    <link rel="stylesheet" type="text/css" media="all" href="assets/templates/greenparty/css/global.css?v=1"/>
    
    <link rel="stylesheet" href="assets/templates/greenparty/css/responsive.css"/>
    
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-20553598-27");
pageTracker._trackPageview();
} catch(err) {}</script>
</head>
<body class="younggreens" style="background-image:url('assets/images/younggreen images/Sunflower.jpg'); background-color:#999999;">
<div class="header">
    <div class="inner">
        <div class="logo">
            <a href="http://younggreen.greenparty.org.uk/">
                <img src="assets/images/younggreen images/website logos/title-horizontal-white.png" alt="Green Party" height="64"/>

            </a>
        </div>


        <ul class="topnav"><li class="first current"><a href="http://younggreen.greenparty.org.uk/" title="Home" >Home</a></li>
<li><a href="news/" title="News" >News</a></li>
<li><a href="about-us/" title="About Us" >About Us</a></li>
<li><a href="get-involved/" title="Get Involved" >Get Involved</a></li>
<li><a href="campaigns/" title="Campaigns" >Campaigns</a></li>
<li><a href="events/" title="Events" >Events</a></li>
<li><a href="contact-the-committee/" title="Contact the Committee" >Contact the Committee</a></li>
<li class="last"><a href="ygblog/" title="Blog" >Blog</a></li>
</ul>

        <div id="search">
                    <form action="http://www.google.com/cse" id="cse-search-box">
            <label for="ajaxSearch_input">
<input type="hidden" name="cx" value="005004208321925871851:w_eiae1layu" />
<input type="hidden" name="ie" value="UTF-8" />
                <input id="ajaxSearch_input" type="text" name="q" value="Search here..." onfocus="this.value=(this.value=='Search here...')? '' : this.value ;" />
            </label>
            <label for="ajaxSearch_submit">
                <input id="ajaxSearch_submit" type="submit" name="sa" value="Go!" />
            </label>
        </form>
        </div>
    </div>
</div>
<div class="canvas">

    <div id="bannerslider">
    <ul class="bjqs">
        <li><a href="http://younggreen.greenparty.org.uk/get-involved/"><img src="assets/images/younggreen images/Banner5.jpg" alt="Get Involved" /></a></li><li><a href="http://younggreen.greenparty.org.uk/campaigns/"><img src="assets/images/younggreen images/banner1.jpg" alt="Campaign" /></a></li><li><a href="http://www.fyeg.org/main/"><img src="assets/images/younggreen images/Banner3.jpg" alt="Global Greens" /></a></li><li><a href="http://younggreen.greenparty.org.uk/events/"><img src="assets/images/younggreen images/Banner2.jpg" alt="Take Action" /></a></li>
    </ul>
</div>
<!--  -->
    <div class="bannerbuttons">
    <a href="http://younggreen.greenparty.org.uk/get-involved/join/" class="button1"> 
<img src="assets/images/younggreen images/website logos/Join the Young Greens.jpg" alt="Become a Young Greens member" width="277" height="92" /><br />
<span>&gt; Become a Young Greens member</span></a><a href="http://younggreen.greenparty.org.uk/get-involved/donate/" class="button2"> 
<img src="assets/images/younggreen images/website logos/Donate to YGs.png" alt="Support us" width="277" height="92" /><br />
<span>&gt; Support us</span></a><a href="http://younggreen.greenparty.org.uk/get-involved/sign-up/" class="button3"> 
<img src="assets/images/younggreen images/website logos/Sign up and take action.png" alt="Join the Young Greens mailing list" width="277" height="92" /><br />
<span>&gt; Join the Young Greens mailing list</span></a>
</div>
